.feed_container {
  margin: 0 auto;
  padding: 16px;
  padding-top: 144px;
  width: 60%;
}

@media only screen and (max-width: 1500px) {
  .feed_container {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .feed_container {
    width: calc(100% - 32px);
  }
}
