.menu {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
  height: 128px;
  -webkit-box-shadow: 2px 2px 8px 2px #bababa;
  -moz-box-shadow: 2px 2px 8px 2px #bababa;
  box-shadow: 2px 2px 8px 2px #bababa;
  display: flex;
  justify-content: center;
}

.menu_title {
  display: block;
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
  text-align: center;
  color: #d16388;
  height: 64px;
  margin-top: 32px;
  font-weight: 300;
}

.menu_title_initials {
  font-size: 44px;
}

.menu_logo {
  display: block;
  width: 128px;
  margin-right: 16px;
}

.menu_button {
  display: block;
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
  text-align: right;
  color: #bababa;
  height: 32px;
  margin: 3px;
  font-weight: 300;
}

.menu_button_active {
  color: #d16388;
}

.menu_button_about {
  top: 72px;
  left: 16px;
}

.menu_button_favorites {
  top: 8px;
  left: 16px;
}

.menu_button_events {
  top: 40px;
  left: 16px;
}
