.polaroid {
  position: relative;
  width: calc(50% - 64px);
  background-color: #ffffff;
  display: inline-block;
  padding: 16px;
  border-radius: 8px;
  margin: 16px;
  -webkit-box-shadow: 2px 2px 8px 2px #bababa;
  -moz-box-shadow: 2px 2px 8px 2px #bababa;
  box-shadow: 2px 2px 8px 2px #bababa;
}

.polaroid,
.polaroid:hover,
.polaroid:visited,
.polaroid:active > * {
  text-decoration: none;
}

.polaroid_image {
  overflow: hidden;
  border: 1px solid #bababa;
  border-radius: 8px;
}

.polaroid_content {
  overflow: auto;
  margin-top: 16px;
  height: 80px;
}

.polaroid_like {
  margin: 24px;
  position: absolute;
  cursor: pointer;
  fill: #d16388;
  width: 48px;
  height: 48px;
  z-index: 20;
}

.polaroid_title {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  color: #424242;
}
